<div #navbar [ngClass]="isScrolled() ? 'navbar-scrolled' : 'navbar-transparent'">
	<div class="card">
		<p-menubar [model]="items">
			<ng-template pTemplate="start">
				<div class="flex items-center gap-2 px-2">
					<!-- Viora Logo -->
					<span class="text-xl font-bold tracking-tight"><a href="/">Viora</a></span>
				</div>
			</ng-template>

			<ng-template pTemplate="end">
				<div class="flex items-center">
					@if (authStore.isAuthenticated()) {
						<p-button [label]="(currentUser()?.firstName ?? '') + ' ' + (currentUser()?.lastName ?? '')" routerLink="/settings" variant="text"/>
						<p-button type="button" label="Logout" severity="secondary" (click)="onLogout()" />
					} @else {
					<a routerLink="/auth/register" class="no-underline">
						<p-button
							type="button"
							label="Register"
							severity="contrast" />
					</a>
					<a routerLink="/auth/login" class="no-underline mx-3">
						<p-button
							type="button"
							label="Login"
							severity="secondary" />
					</a>
					}
				</div>
			</ng-template>
		</p-menubar>
	</div>
</div>
