<div #navbar
	[ngClass]="isScrolled() ? 'navbar-scrolled' : 'navbar-transparent'">
	<div class="card">
		<p-menubar [model]="items">
			<ng-template pTemplate="start">
				<div class="flex items-center px-3">
					<!-- Viora Logo -->
					<img ngSrc="svg/logo.svg" alt="Viora Logo" class="h-8 w-8" width="32" height="32" />
					<span class="text-2xl font-bold "><a href="/">iora</a></span>
				</div>
			</ng-template>

			<ng-template pTemplate="end">
				<div class="flex items-center">
					@if (authStore.isAuthenticated()) {
					<p-button
						[label]="(currentUser()?.firstName ?? '') + ' ' + (currentUser()?.lastName ?? '')"
						routerLink="/settings" variant="text" />
					<p-button type="button" label="Logout" severity="secondary"
						(click)="onLogout()" />
					} @else {
					<a routerLink="/auth/register" class="no-underline">
						<p-button
							type="button"
							label="Register"
							severity="contrast" />
					</a>
					<a routerLink="/auth/login" class="no-underline mx-3">
						<p-button
							type="button"
							label="Login"
							severity="secondary" />
					</a>
					}
				</div>
			</ng-template>
		</p-menubar>
	</div>
</div>
