<section class="py-20 px-6 text-center max-w-3xl mx-auto">
    <h1 class="text-5xl font-extrabold mb-6 leading-tight">We're Here to Help</h1>
    <p class="text-slate-500 text-lg leading-relaxed">
        Our dedicated support team is available to ensure your experience is seamless.
        Whether you need help with initial setup, appointment management, or billing questions, we've got you covered.
    </p>
</section>

<section class="py-12 px-6 max-w-4xl mx-auto">
    <h2 class="text-3xl font-bold text-center mb-12">Frequently Asked Questions</h2>
    <div class="space-y-4">
        <p-accordion class="w-full md:w-[50rem] mx-auto">

            <p-accordion-panel value="-1">
                <p-accordion-header>
                    What is Viora?
                </p-accordion-header>

                <p-accordion-content>
                    <p>
                        Viora is a platform that helps individuals and organizations manage and use our product features in a simple and organized way. It allows users to create organizations, manage subscriptions, and access powerful tools through a unified dashboard.
                    </p>
                </p-accordion-content>
            </p-accordion-panel>

            <p-accordion-panel value="0">
                <p-accordion-header>
                    How do I get started with Viora?
                </p-accordion-header>

                <p-accordion-content>
                    <div>
                        Getting started with Viora is simple:
                        <ul class="list-decimal list-inside mt-2 ">
                            <li> Go to the Sign Up page and create your account.</li>
                            <li> Complete your profile information.</li>
                            <li> Choose a subscription plan that fits your needs.</li>
                            <li> Create or join an organization.</li>
                        </ul>
                    </div>
                </p-accordion-content>
            </p-accordion-panel>

            <p-accordion-panel value="1">
                <p-accordion-header>
                    Can I change my plan later?
                </p-accordion-header>

                <p-accordion-content>
                    <p>
                        Yes, you can upgrade or downgrade your plan at any time.
                    </p>
                </p-accordion-content>
            </p-accordion-panel>

            <p-accordion-panel value="2">
                <p-accordion-header>
                    How do appointment reminders work?
                </p-accordion-header>

                <p-accordion-content>
                    <p>
                        Reminders are sent automatically via SMS or Email based on your custom notification settings.
                    </p>
                </p-accordion-content>
            </p-accordion-panel>

            <p-accordion-panel value="3">
                <p-accordion-header>
                    Is my data secure?
                </p-accordion-header>

                <p-accordion-content>
                    <p>
                    Yes, We take data privacy and security seriously. All user data is protected using secure systems.</p>
                </p-accordion-content>
            </p-accordion-panel>

        </p-accordion>
    </div>
</section>

<section class="py-24 px-6 max-w-6xl mx-auto grid md:grid-cols-2 gap-12 ">
    <div class="space-y-8">
        <h2 class="text-3xl font-bold">Still need help?</h2>
        <p class="text-slate-500 text-lg">
            If you couldn't find what you were looking for, our team is ready to assist you personally. We typically respond to all inquiries within 24 hours.
        </p>

        <div class="gap-4">
            <div>
                <h4 class="font-bold text-lg">Email Us</h4>
                <a href="mailto:teamcomplex@gmail.com" class="text-slate-500  hover:underline">teamcomplex@gmail.com</a>
            </div>
        </div>

    </div>

    <p-toast />
    <form [formGroup]="exampleForm" (ngSubmit)="Submit()" class="space-y-5">
        <div class="flex flex-col gap-1">
            <p-floatlabel variant="on">
                <input pInputText type="text" id="username" pSize="large" class="w-full" formControlName="username" [invalid]="isInvalid('username')" />
                <label for="username">Name</label>
            </p-floatlabel>

            @if (isInvalid('username')) {
                <p-message severity="error" size="small" variant="simple">
                    Name is required.
                </p-message>
            }
        </div>

        <div class="flex flex-col gap-1">
            <p-floatlabel variant="on">
                <input pInputText type="email" id="email" pSize="large" autocomplete="off" class="w-full" formControlName="email" [invalid]="isInvalid('email')" />
                <label for="email">Email Address</label>
            </p-floatlabel>
            @if (isInvalid('email')) {
            @if (exampleForm.get('email')?.errors?.['required']) {
            <p-message severity="error" size="small" variant="simple" class="m-0 p-0">Email is required.</p-message>
            }
            @if (exampleForm.get('email')?.errors?.['email']) {
            <p-message severity="error" size="small" variant="simple">Please enter a valid email.</p-message>
            }
            }
        </div>

        <p-floatlabel variant="on">
            <textarea pTextarea id="message" rows="5" cols="30" class="h-full w-full" formControlName="message"
                [invalid]="isInvalid('message')"></textarea>
            <label for="message">Message</label>
            @if (isInvalid('message')) {
            <p-message severity="error" size="small" variant="simple">Message is required.</p-message>
            }
        </p-floatlabel>

        <button pButton severity="secondary" type="submit">
            <span pButtonLabel>Send</span>
        </button>
    </form>

</section>