<p class="text-xl font-bold">Change Password</p>
<p class="text-gray-400 text-sm mb-4">Update your account password regularly to keep your account secure.</p>

<form [formGroup]="changePasswordForm" (ngSubmit)="onSave()">
    <div class="form-group">
        <label for="oldpass">Old Password</label>
        <input pInputText id="oldpass" formControlName="oldPassword"
            type="password"
            [invalid]="!changePasswordForm.get('oldPassword')?.valid && changePasswordForm.get('oldPassword')?.dirty" />
        @if (changePasswordForm.get('oldPassword')?.invalid &&
        changePasswordForm.get('oldPassword')?.dirty) {
        <small class="text-red-500">Old password is required</small>
        }
    </div>
    <div class="form-group">
        <label for="newpass">New Password</label>
        <input pInputText id="newpass" formControlName="newPassword"
            type="password"
            [invalid]="!changePasswordForm.get('newPassword')?.valid && changePasswordForm.get('newPassword')?.dirty" />
        @if (changePasswordForm.get('newPassword')?.invalid &&
        changePasswordForm.get('newPassword')?.dirty) {
        <small class="text-red-500">New password is required</small>
        }
    </div>

    <div class="form-group">
        <label for="confirm-newpass">Confirm new password</label>
        <input pInputText id="confirm-newpass" formControlName="confirmPassword"
            type="password"
            [invalid]="!changePasswordForm.get('confirmPassword')?.valid && changePasswordForm.get('confirmPassword')?.dirty && changePasswordForm.hasError('passwordMismatch') && changePasswordForm.get('confirmPassword')?.dirty" />
        @if (changePasswordForm.hasError('passwordMismatch') && changePasswordForm.get('confirmPassword')?.dirty ) {
        <small class="text-red-500">Passwords do not match</small>
        }
        @else if (changePasswordForm.get('confirmPassword')?.invalid &&
        changePasswordForm.get('confirmPassword')?.dirty) {
        <small class="text-red-500">Confirm new password is required</small>
        }
    </div>

    <div class="form-actions">
        <p-button
            label="Cancel"
            type="button"
            severity="secondary"
            (onClick)="onCancel()" />
        <p-button
            label="Change Password"
            type="submit"
            severity="primary"
            [loading]="saving()"
            (onClick)="onSave()" />
    </div>
</form>