<section class="py-12 px-6 max-w-4xl mx-auto">
    <h2 class="text-3xl font-bold text-center mb-12">Frequently Asked Questions</h2>
    <div class="space-y-4">
        <p-accordion class="w-full md:w-200 mx-auto">

            <p-accordion-panel value="-1">
                <p-accordion-header>
                    What is Viora?
                </p-accordion-header>

                <p-accordion-content>
                    <p >Viora is a platform that helps individuals and organizations manage and use our product features in a simple and organized way. It allows users to create organizations, manage subscriptions, and access powerful tools through a unified dashboard.</p>
                </p-accordion-content>
            </p-accordion-panel>

            <p-accordion-panel value="0">
                <p-accordion-header>
                    How do I get started with Viora?
                </p-accordion-header>

                <p-accordion-content>
                    <div>
                        Getting started with Viora is simple:
                        <ul class="list-decimal list-inside mt-2 ">
                            <li> Go to the Sign Up page and create your account.</li>
                            <li> Complete your profile information.</li>
                            <li> Choose a subscription plan that fits your needs.</li>
                            <li> Create or join an organization.</li>
                        </ul>
                    </div>
                </p-accordion-content>
            </p-accordion-panel>

            <p-accordion-panel value="1">
                <p-accordion-header>
                    Can I change my plan later?
                </p-accordion-header>

                <p-accordion-content>
                    <p>Yes, you can upgrade or downgrade your plan at any time.</p>
                </p-accordion-content>
            </p-accordion-panel>

            <p-accordion-panel value="2">
                <p-accordion-header>
                    How do appointment reminders work?
                </p-accordion-header>

                <p-accordion-content>
                    <p>Reminders are sent automatically via SMS or Email based on your custom notification settings.</p>
                </p-accordion-content>
            </p-accordion-panel>

            <p-accordion-panel value="3">
                <p-accordion-header>
                    Is my data secure?
                </p-accordion-header>

                <p-accordion-content>
                    <p>Yes, We take data privacy and security seriously. All user data is protected using secure systems.</p>
                </p-accordion-content>
            </p-accordion-panel>

        </p-accordion>
    </div>
</section>